@font-face {
  font-family: "OpenSans";
  src: url("fonts/OpenSans-VariableFont.ttf");
}

@font-face {
  font-family: "Poppins-Regular";
  src: url("fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Poppins-Medium";
  src: url("fonts/Poppins-Medium.ttf");
}

@font-face {
  font-family: "Poppins-Bold";
  src: url("fonts/Poppins-Bold.ttf");
}

@font-face {
  font-family: "Poppins-Black";
  src: url("fonts/Poppins-Black.ttf");
}

body {
  padding: 0;
  margin: 0;
}
